.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.errmsg{
  color: red;
}

a{
  text-decoration: none !important;
  color: white !important;
  padding: 2px;
}
app-check{
  height: 20px;
  width: 20px;
  margin: 1%;
}
.header{
  width: 100%;
  background-color: #ffa200;
  color: #fff;
  padding: 1%;
}
.navitem{
  margin-left: 8%;
  /* margin-right: 10%; */
  /* background-color: blue; */
  text-align: "center";
  color: yellow;
  /* padding: 1%; */
}
a{
  text-decoration: none !important;
  color: white !important;
  padding: 2px;
}
.bgimg{
  background-image: url(./images/homebg.png);
  background-size: cover ;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
          /* backgroundImage: url(${backgroundImage}),
          backgroundSize: "cover",
          backgroundPosition: "center",
          minHeight: "100vh", // Ensure the image covers the entire viewport height
          backgroundAttachment: "fixed", */
}
.content{
  padding-top: 8%;
  /* paddingTop :"8%" */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

